* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #aaa;
    color: #fff;
    font-family: sans-serif;
    font-size: 16px;
}

/**
* ! Navbar 
**/

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #212529;
    padding: 1rem 3rem;
    margin: 0 0 2rem 0;
    align-items: center;
}

ul {
    list-style: none;
    display: flex;
    text-indent: 1rem;
    align-items: center;

}

a {
    color: #ff9;
    text-decoration: none;
}

/**
* cart in navbar
**/

.cart {
    background-color: #fff;
    color: #212529;
    padding: 5px;
    border-radius: 3px;
    font-size: 16px;
    position: relative;
}

.cartAmount {
    background-color: #F00;
    color: #fff;
    position: absolute;
    top: -15;
    right: -10;
    padding: 3px;

}

/**
* ! products
**/

.container {
    width: 1000px;
    background-color: #000;
    margin: 0 auto;
    padding: 1rem 1.5rem;
    border-radius: 10px;
}

.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin-bottom: 50px;
}

.item {
    border: 2px solid #fff;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 8px;
    max-width: 220px;
}

.item img {
    width: 100%;
}

.price-quantity {
    line-height: 2.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 8px;
    font-size: 16px;
}

.bi {
    cursor: pointer;
}

@media (max-width: 1000px) {
    .container {
        width: 500px;
    }

    .products {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .container {
        width: 370px;
    }

    .products {
        grid-template-columns: repeat(1, 1fr);

    }
}

/**
* ! label
**/

.text-center {
    text-align: center;
    margin-bottom: 20px;
}

.homeBtn,
.checkout,
.removeAll {
    background-color: #212529;
    color: #fff;
    border: none;
    padding: 6px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
}

.removeAll {
    background-color: #fff;
    color: #000;
}

.bi-x-lg {
    font-weight: bold;
}

/**
* ! shopping-cart
**/

.details {
    padding: 10px;
    line-height: 1.5rem;
    gap: 20px;
}

.shopping-cart {
    display: grid;
    grid-template-columns: repeat(1, 335px);
    justify-content: center;
    gap: 15px;
    border-radius: 5px;
}

.cart-item {
    border: 2px solid #fff;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
}

.cart-item-price {
    background-color: #212529;
    color: #fff;
    border-radius: 4px;
    padding: 3px 6px;
}

/*  */
.title-price {
    display: flex;
    align-items: center;
    gap: 10px;
}

.title-price-x {
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}